<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .button {
      height: 50px,
      borderRadius: 5px,
      borderWidth: 0px;
      backgroundColor: #FF406E,
      color: white
    }
  </style>
</head>
<body>
    <h2>Password reset was requested from your account.</h2>
    <h2> use this code to reset your password {{ url }}</h2>
    <p>If this action was triggered by you, please contact support support@propertymart.com</p>
</body>
</html>
